.mandatoryMissed
{
color: #FFA8A8;
background: #fee3ad;
border: 1px solid #781351
}
.errorFont 
{
	font-size: 80%;
	/*font-weight: bold;*/
	color: Red;
}
	
.errorDiv
{
	font-size: 90%;
	color: Red;
	width: 400px;
	border: 1px solid red;
	padding: 0.5em;
	margin: auto !important;
    border-radius: 5px;
}

#readOracleLbl
{
    margin-bottom: 10px !important;
}

.mandatory
{
	color: #FF0000;
	FONT-WEIGHT: bold
}	

.continue 
{
	color: #ffffff !important;
	background: #369 !important;
	font-size: 80% !important;
	border: 1px solid #369 !important;
	/*border-style: outset !important;*/
	padding-left: 3px !important;
	padding-right: 3px !important;
	overflow: visible !important;
	text-align:center !important;
	border-radius: 5px;

}

.cancel 
{
	color: #369 !important;
	background: #EEE !important;
	border: 1px solid #369 !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
	overflow: visible !important;
	font-size: 80% !important;
	text-align:center !important;
    border-radius: 5px;
	
}

.cancelVrf 
{
	color: #369 !important;
	background: #EEE;
	border: 1px solid #369 !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
	overflow: visible !important;
	font-size: 80% !important;
	
}

/*.goto
{
	color: #369 !important;
	background: #EEE !important;
	border: 1px solid #369 !important;
	width: 150px  !important;
	font-size: 80%  !important;

}*/

div#extraCol .ui-btn-inner, div#extraCol .ui-btn-hidden,
div#extraCol .ui-submit, div#extraCol .ui-btn, div#extraCol .ui-shadow,
div#extraCol .ui-btn-corner-all, div#extraCol .ui-btn-up-c
{
	color: #369 !important;
	background: #EEE !important;
	border: 1px solid #369 !important;
	width: 150px  !important;
	font-size: 90%  !important;
	padding-left: 0 !important;
	padding-right: 0 !important;

}

div#extraCol {
    color: #000;
    margin-left: auto !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    width: 200px !important;
}

div#cgmenu
{
	margin-left: auto !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 20px !important;

	float: right !important;
	height: 14px;
}

input
{
    font-size: 8pt !important;
}

/*.boldMenu 
{
	color: #369 !important;
	background: #EEE;
	font-size: 8pt !important;
	font-weight: bold !important;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border-style:none;
	width: 150px;
}*/

.logOut
{
	color: #FFF !important;
	background: #369 !important;
	font-weight: bold !important;
}


.head1
{
	FONT-SIZE: 145%; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	MARGIN-BOTTOM: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: arial, helvetica, sans-serif
}
.head2 
{
	FONT-SIZE: 135%; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	MARGIN-BOTTOM: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: arial, helvetica, sans-serif
}
.head3 
{
	FONT-SIZE: 120%; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	MARGIN-BOTTOM: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: arial, helvetica, sans-serif
}
.head4 
{
	FONT-SIZE: 110%; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	MARGIN-BOTTOM: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: arial, helvetica, sans-serif
}
.head6 
{
	FONT-SIZE: 100%; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	MARGIN-BOTTOM: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
}


.border
{
	color: #369 !important;
	background: #EEE !important;
	font: 8pt !important;
	border: 1px solid #369 !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	overflow: visible !important;
	text-align:center !important;
	vertical-align: middle !important;
	border-radius: 5px;
	min-width: 152px;
}

.flat
{
	color: #369 !important;
	background: #EEE !important;
	font-size: 8pt !important;
	border-style:none !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	overflow: visible !important;
	text-align:center !important;
	vertical-align: top !important;
	min-width: 152px;
}

div.formDiv
{
    min-height: 150px;
}

div#stepsActivate
{
    margin: auto !important;
    width: 70% !important;;
}

.largest {
	FONT-SIZE: 125%
}
.larger {
	FONT-SIZE: 120%
}
.large {
	FONT-SIZE: 110%
}

.bold {
	FONT-WEIGHT: bold;
}

.normalText {
	FONT-SIZE: 100%
}
.small {
	FONT-SIZE: 90%
}
.smaller {
	FONT-SIZE: 80%
}

.smaller1 {
	FONT-SIZE: 85%
}
.smallest {
	FONT-SIZE: 75%
}


p.spacer
{
	height: 3px;
	margin-bottom: 0px;
	margin-top: 0px
}

.justify
{
	text-align:justify;
	FONT-SIZE: 80%
}

.update
{
	background-color: #FEA;
    border: 1px solid #369;
}

.notice2 {
	    font-family:    Arial, sans-serif;
	    font-size:      80%;
		color:   black;
		padding-left:   .5em;
		padding-right:  .5em;
		background-color: #FFF;
		border-style: solid;
		border-color: #FFCC00;
		border-width:1px;
		width: 390px;
		border-radius: 5px;
}

.noticeHead
{
	/*background-color: #FFCC00;*/
	background-color: #c86253;
	color: #fff;
	font-weight: bold;
	padding:  0.5em;
	margin: 3px;
}

.highlightBlock {
		color:   black;
		padding:    5px 5px 5px 5px;
		background-color: #FFFFCC;
		border-style: solid;
		border-color: blue;
		border-width:1px;
		width: 385px;
		border-radius: 5px;

}
#Form0
{
    margin: auto;
	width: 98% !important;
}

.login 
{
	color: #000;

    margin-top: 0px !important;
    margin-bottom: 3px !important;
    margin-right: 0px !important;
    border: 1px solid #369 !important;
    margin-left: 0px !important;
	border-radius: 5px;
	}
	
.tlogin,#register, #funame, #fpass, #lgout, #confirm,#resetpwd,#confirmpwd
{
	margin: auto !important;
	width: 400px !important;
}

#register, #funame, #fpass, #sapVal, #actvt,#actvtExt,#stts,#error,#mgcua,#stepsActivate
{
	margin: auto !important;
}



.step
{
	background-color: #CC9;
}

.steps
{
		FONT-FAMILY: arial, helvetica, sans-serif;
		font-size:      80%;

}

.stepsTitle
{
		FONT-FAMILY: arial, helvetica, sans-serif;
		font-size:      80%;
		font-weight: bold;

}

.info {
	    font-family:    Arial, sans-serif;
	    font-size:      85% !important;
		color:   #369;
		padding-left:   .5em;
		padding-right:  .5em;
		background-color: #FFF;
		border: 1px solid #369;
}

div.infoFile {
	    font-family:    Arial, sans-serif;
		color:  #000;
		padding-left:   .5em;
		padding-right:  .5em;
		border: 5px double #c86253;
	    border-radius: 5px;
	    width: 420px;
	    /*background-color: #eac2bd;*/
}

div.opnFile  {
	    font-family:    Arial, sans-serif;
	    font-size:      90% !important;
		color:  #000;
		padding: 1em 1em 1em 1em;
		border: 1px solid #369;
	    border-radius: 5px;
}

div.iaLink {
 	    width: 400px;
}

.right
{
	  float: right !important;
}	
	
.vTop
{
	vertical-align: text-top;
	padding: 0px;
}

.table_600px
{
	width: 600px;
}

.table_550px
{
	width: 550px;
}

.table_450px
{
	width: 450px;
}

.table_420px
{
	width: 420px;
}

.table_400px
{
	width: 400px;
}

.table_380px
{
	width: 380px;
}

.cua {
    padding-right: 15px !important;
	padding-left: 5px !important;

}

.nb
{
	border-style: none;
}

.inner
{
	padding: 0 !important;
	margin: 0 !important;
}

table
{
	border: none !important;
}

td
{
	border: 0 !important;
	padding: 3px 3px 3px 3px !important;
}

input#main_go 
{
	 margin: 0 !important;
	 width: 100%;
	/*padding-left: 0em !important;
	padding-right: 0em !important;*/
}

#forgot, .margin-top-deep
{
   margin-top: 25px !important;
}

#notreg
{
   margin-top: 5px !important;
}

#forgotPassword_go, #forgotUname_go,#register_go
{
   margin-top: 5px !important;
   width: 100%;
}
 
#logoutBtn,#statusBtn, #viewCollsBtn, #logInCUA, #emailChangeBtn,
#mainContinue_go, #back_go, #sapValidate_go,
#backLogOutSAP, #activate_go, #backSap, #registerNext_go,
#backReg, #forgotPasswordNext_go, #backFP, #activateCUA, #statusCUA,
#reset_go,#activateBtn
{
	margin-top: 0em !important;
	margin-bottom: 0em !important;
	font-size: 8pt !important;
}

#activateBtn, #viewCollsBtn, #emailChangeBtn,#logoutBtn
{
	float: left !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	text-align: center !important;
	width: 155px !important;
}
input#userNameLogin, 
input#passWdLogin,
input#vQuestionValueBox
{
	
	padding-left: 0em !important;
	padding-right: 0em !important;
	width: 400px !important;

}

#dontAskVerQuestionBox, #fixedLocationRegBox, #agreeRegBox
{
	margin: 0.5em !important;
	font-weight: bold !important;
}

div#rightnav {
    float: left;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.small {
	FONT-SIZE: 90%
}
.smaller {
	FONT-SIZE: 80%
}
.smallest {
	FONT-SIZE: 75%
}

#ViewCollections, #ChangeEmail
{
	width: 450px !important;;
	margin: auto !important;
}


iframe#iaToc
{
	min-height: 600px;
	min-width: 320px;
}

iframe#iaContent
{
	height: 600px;
	width: 100%;
	border: none;
}

.indent
{
	text-indent: 4em;
}

a.noPadding
{
	/*padding: 0px !important; */
}

.bottom
{
	vertical-align: bottom;
}

.top
{
	vertical-align: top !important;
}


a.download
{
    font-weight: bold;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D73D38 !important;
    border-bottom-color: #B72925 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0 !important;
    border-image-repeat: stretch stretch !important;
    border-image-slice: 100% 100% 100% 100% !important;
    border-image-source: none !important;
    border-image-width: 1 1 1 1 !important;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #B72925 !important;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical !important;
    border-right-color-rtl-source: physical !important;
    border-right-color-value: #B72925 !important;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #B72925 !important;
    border-top-style: solid;
    border-top-width: 1px;
    color: white !important;
    text-shadow: 0 1px 1px #222222;
    text-align: center !important;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.tblDownld
{
		color:   #000000;
		padding:    5px 5px 5px 5px;
		background-color: #FFFFFF;
		border-style: none;
		width: 385px;
}

.warning
{
	/*font-weight: bold;*/
	color: Red;
    -moz-border-radius: 5px;
    text-align: center !important;
    padding:    5px 5px 5px 5px;
    border: 1px solid red;
	border-radius: 5px;
}

ul.bull {
    list-style-type:    disc !important;
    font-family:        inherit;
    margin-top:         0;
    margin-bottom:      0;
    text-indent:        0 !important;
}

ol.num {
    list-style-type: decimal !important;
    font-family:        inherit;
    margin-top:         0;
    margin-bottom:      0;
    text-indent:        0 !important;
}

ul.blank {
    list-style-type:    none;
    text-indent:        -1em;
    font-family:        inherit;
    margin-top:         0;
    margin-bottom:      0;
}

ul.pubList {
    list-style-type:    none;
    font-family:        inherit;
    margin-top:          0;
	margin-left:         0;
    padding-bottom:      10px !important;
	/*background-color: #EEEEEE;*/
}

ul.pubList li {
   height: 13px !important;
   clear: both;
}

.print {
	margin-left:         0;
	float: left;
	font-size:  80% !important;
   	}

.format {
	float: left;
	margin-left:         3em;
    vertical-align: bottom !important;
	font-size:      80% !important;
	}

.formatWide {
    margin-left: 3em;
	width: 50%;
	float: left;
    vertical-align: middle !important;
	font-size:      80% !important
	}

.bookTtl {
	 padding-top:         15px !important;

}

.formatImg {
   margin-left:         0;
   height: 12px !important; 
   width: 12px !important;
   padding-right: 3px;
   vertical-align: middle !important;
}

.padding-right {
   padding-right: 10px;
}

.title
{
   margin-top: 0px !important;
}

#wb-main-in-cgo {
    width: 650px !important;
}
#wb-main-cgo {
   width: 100% !important;
   height: 100% !important;
}
.img {
   padding-top: 18px !important;
}

.indent {
    text-align:center !important;
	color: #369;
}

input#adobeInstall, #foInstall, input[id^=purchasedColls]
{
    margin-right: 5px !important;
}

textarea.license, div#SAPvalidate textarea.ui-input-text
{
    width: 380px !important;
	max-height: 300px !important;
	font-size: 8pt !important;
	overflow-y: auto !important;
}

.dnl 
{
   /* don't enlarge animated GIF - buggers up on mobiles.
   width: 200%;
   height: 200%;*/
   padding-right: 3em;
}

.ldn 
{
   display: block;
   margin: auto;
}

h1#cn-cont
{
    text-align: center !important;
    
}

.modal
{
        position: fixed;
        top: 0;
        left: 0;
        background-color: gray;
        z-index: 99;
        opacity: 0.3;
        filter: alpha(opacity=30);
        -moz-opacity: 0.3;
        min-height: 100%;
        width: 100%;
}

.loading
{
		vertical-align: middle!important;
		text-align: center!important;
		padding: 20px !important;
        border: 1px solid #808080;
        width: 16px!important;
        height: 16px!important;
        display: none!important;
        position: fixed!important;
        background-color: white!important;
        z-index: 999 !important;
}

.span-4a
{
 width: 100% !important;
 height: 100% !important;
}


